*{
    margin: 0;
    padding: 0;
}

.mc{
    width: 1020px;
    margin: auto;
}

header{
    height: 370px;
    background-image: url('../img/2.webp');
    
}

.mu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}

.mu ul li{
    display: inline-block;
    position: relative;
}

.mu ul li a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.mu ul li a:hover{
    color: yellow;
}

.mu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

.mu ul ul a{
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    padding: 0 10px;
}

.mu ul li:hover ul{
    display: block;
}

.mu ul ul a:hover{
    background-color: orangered;
    color: white;
}

aside{
    float: right;
    width: 20%;
}

aside>.vmenu{
    padding: 0;
    margin: 5px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
}

aside>.vmenu li{
    background: url('image.png') no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

aside>.vmenu li:hover{
    background: url('image.png') no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.mc footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}